* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: .16rem;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  background: #FADBCE;
  overflow-y: scroll;
}

aside {
  width: 100%;
  height: 4rem;
  background: url("../img/index_top.png");
  background-size: cover;
  background-position: center;
}

aside nav {
  display: flex;
  width: 100%;
  height: auto;
}

aside nav a {
  flex: 1;
  flex-direction: column;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

aside nav a span {
  color: #fff;
}

aside nav a b {
  color: #ECB83F;
}

aside form {
  width: 100%;
  height: auto;
  margin-top: .55rem;
  position: relative;
}

aside form input {
  width: 74%;
  height: .4rem;
  border: 0;
  margin-left: 13%;
  border-radius: 5px;
  padding-left: .3rem;
}

aside form ::-webkit-input-placeholder {
  color: #9FD7DC;
}

aside form i {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  background: url("../img/index_search.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: .6rem;
  top: .05rem;
}

.list {
  width: 100%;
  height: 0.4rem;
  display: flex;
  margin-top: .3rem;
}

.list li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li a {
  color: #fff;
  padding: .15rem .2rem;
  border-radius: .5rem;
}

.list li:nth-child(1) a {
  background: #358994;
}

.list li:nth-child(2) a {
  background: #88CED5;
}

.list li:nth-child(3) a {
  background: #D6D6D6;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: .3rem;
}

main dl {
  width: 50%;
  height: auto;
  padding-left: .1rem;
  margin-bottom: .1rem;
}

main dl dt {
  position: relative;
}

main dl dt img {
  width: 100%;
  height: auto;
}

main dl dt i {
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
  width: .6rem;
  height: .4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E79C81;
}

main dl dd {
  width: 100%;
  height: 0.5rem;
  display: flex;
}

main dl dd label {
  width: 60%;
  background: #E79C81;
  height: 100%;
  display: inline-block;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

main dl dd b {
  width: 40%;
  background: #E34646;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: .5rem;
  color: #fff;
}

main dl:nth-child(2n) {
  margin-top: -.8rem;
  padding-right: .1rem;
}

main dl:nth-child(2) {
  margin-top: 0;
}
